<ng-scrollbar class="light-grey" track="vertical" visibility="always">
  <div class="thumbnail-list">

    <!--FIXME getThumbUrl => do same like horizontal-scroller-->

    <!--    <div class="thumbnail-item item" *ngFor="let image of (photos$ | async); let i = index"-->
    <!--         [style.background-image]="'url(' + getThumbUrl(image.fileName) + ')'"-->
    <!--         [class.active]="currentIndex === i"-->
    <!--         (click)="onSelectCurrentImage(image)">-->
    <!--    </div>-->
  </div>
</ng-scrollbar>



