<section class="page">
  <header class="nav-bar">
    <nav mat-tab-nav-bar color="accent" [tabPanel]="tabPanel">
      <a mat-tab-link *ngFor="let route of routes"
         (click)="navigateUrl(route.path)"
         [active]="activeLink.includes(route.name.toLocaleLowerCase())"> {{ route.name }} </a>
    </nav>
  </header>
  <!--  <app-action-bar class="action-bar"></app-action-bar>-->
  <main>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </main>
</section>
