<div class="row">
  <div class="col">
    <h2 class="mat-subheading-1 accent-color">Kontakt</h2>

  </div>

  <div class="col">
    <h2 class="mat-subheading-1 accent-color">Kontakt</h2>
    <ul class="list-unstyled">
      <li class="list-item">
        <div class="icon-text">
          <mat-icon class="scale-down margin-right-small">location_on</mat-icon>
          <a class="line-height-m font-16px">Goyatzer Dorfstraße 2a<br>15913 Schwielochsee</a>
        </div>
      </li>
      <li class="list-item">
        <div class="icon-text">
          <mat-icon class="scale-down margin-right-small">phone</mat-icon>
          <a class="mail font-16px line-height-m" href="tel:+499123456789">+49 35478 302</a>
        </div>
      </li>
      <li class="list-item">
        <div class="icon-text">
          <mat-icon class="scale-down margin-right-small">email</mat-icon>
          <a class="mail font-16px" href="mailto:nein.vielleicht@keine-ahnung.de">
            nein.vielleicht@keine-ahnung.de
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
