<div class="image-container" [class.active]="selected">
  <img alt="thumbnail" [id]="photo.fileName" draggable="false" appImgFallback="bad-solution"
       [src]="getThumbUrl(photo.fileName)" appImgLazyLoad loading="lazy">
  <div class="flex-column">
    <button mat-icon-button (click)="onClickDownload()" [class.active]="download">
      <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
