<div class="image-container" [class.active]="selected">
  <img alt="thumbnail" [id]="photo.fileName" draggable="false" appImgFallback
       [src]="getThumbUrl(photo.fileName)" loading="lazy">
  <div [class.visible]="download === true" class="info-container">
    <button mat-mini-fab color="primary" (click)="onClickDownload()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
  <div class="action-container" [class.not-visible]="download === true">
    <button mat-mini-fab color="primary" (click)="onClickPreview()">
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="onClickDownload()">
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>
