mat-nav-list.list-horizontal {
  padding: 0;

  a {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

.active-route {
  color: var(--primary-color-light) !important;
  background-color: var(--mdc-filled-button-container-color, transparent) !important;
  //background-color: var(--primary-color-dark) !important;
  &.mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--mdc-filled-button-container-color, transparent) !important;
  }

}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: var(--primary-color-dark) !important;
}
