<mat-toolbar>
  <button mat-icon-button (click)="emitNavToggle()" [style.display]="(isHandset$ | async) ? 'initial' : 'none'"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{appName}}</span>
  <mat-toolbar>
    <mat-nav-list class="list-horizontal" [style.display]="(isHandset$ | async) ? 'none' : 'initial'">
      <a mat-list-item *ngFor="let route of routes" [routerLink]="[route.route]"
         [routerLinkActive]="['active-route']">{{route.name}}</a>
    </mat-nav-list>
  </mat-toolbar>
  <app-theme-menu (switchThemeEvent)="onSwitchTheme($event)"></app-theme-menu>
  <app-account-menu></app-account-menu>
</mat-toolbar>
