<mat-toolbar>
  <button mat-icon-button (click)="emitNavToggle()"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{appName}}</span>
  <mat-toolbar>
    <mat-nav-list class="list-horizontal">
      <a mat-list-item [routerLink]="['/dashboard']" [routerLinkActive]="['active-route']">Home</a>
      <a mat-list-item [routerLink]="['/gallery/home']" [routerLinkActive]="['active-route']">Galerie</a>
      <a mat-list-item [routerLink]="['/chat']" [routerLinkActive]="['active-route']">Chat</a>
      <a mat-list-item [routerLink]="['/admin']" [routerLinkActive]="['active-route']">Admin</a>
      <a mat-list-item [routerLink]="['/recipes']" [routerLinkActive]="['active-route']">Rezepte</a>
      <a mat-list-item [routerLink]="['/account/login']" [routerLinkActive]="['active-route']">Login</a>
      <a mat-list-item [routerLink]="['/samples/address']" [routerLinkActive]="['active-route']">Adresse</a>
      <a mat-list-item [routerLink]="['/account']" [routerLinkActive]="['active-route']">Account</a>
      <a mat-list-item [routerLink]="['/profile']" [routerLinkActive]="['active-route']">Profile</a>
      <a mat-list-item [routerLink]="['/doctor']" [routerLinkActive]="['active-route']">Doc</a>
      <a mat-list-item [routerLink]="['/waste']" [routerLinkActive]="['active-route']">Abfall</a>
    </mat-nav-list>
  </mat-toolbar>

  <app-theme-menu (switchThemeEvent)="onSwitchTheme($event)"></app-theme-menu>
  <app-account-menu></app-account-menu>
</mat-toolbar>
