<div>
  <div class="row-max-width">
    <mat-form-field class="flex-1" appearance="fill">
      <mat-label>Kategorie Name</mat-label>
      <input matInput #groupVal [value]="tagGroup.name"
             (keyup)="onChangeGroupName(groupVal.value)">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
  </div>
  <div>
    <mat-chip-grid #chipList>
      <mat-chip
        *ngFor="let tag of tagNames"
        (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-grid>
  </div>
  <div>
    <form>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>New Tag</mat-label>
        <input #tagVal matInput [formControl]="tagCtrl"
               [matChipInputFor]="chipList" appFocus
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)"
               (keyup)="onEditTagName(tagVal.value)">
        <mat-hint style="color: red" *ngIf="nameExists">Tag existiert bereits</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <button mat-icon-button (click)="onClickDeleteTag(tagGroup)">
    <mat-icon>delete</mat-icon>
  </button>

</div>
