<div>
  <div class="row-max-width">
    <!--    <form>-->
    <mat-form-field class="flex-1" appearance="fill">
      <input matInput #groupVal [value]="tagGroup.name" placeholder="Kategorie Name"
             (keyup)="onChangeGroupName(groupVal.value)">
      <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>
    <!--    </form>-->
  </div>
  <div>
    <mat-chip-list #chipList>
      <mat-chip
        *ngFor="let tag of tagNames"
        (removed)="remove(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
  <div>
    <form>
      <mat-form-field class="full-width">
        <input #tagVal matInput [formControl]="tagCtrl"
               placeholder="New tag..." appFocus
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)"
               (keyup)="onEditTagName(tagVal.value)">
        <mat-hint style="color: red" *ngIf="nameExists">Tag existiert bereits</mat-hint>
      </mat-form-field>
    </form>
  </div>
  <button mat-icon-button (click)="onClickDeleteTag(tagGroup)">
    <mat-icon>delete</mat-icon>
  </button>

</div>
