<div class="grid">
  <div class="chat-container">
    <div class="column-max-height">
      <ng-scrollbar>
        <app-chat-messages
          [user]="user" [messages]="messages$"
          (imageLoadEvent)="scrollToEnd()"></app-chat-messages>
      </ng-scrollbar>
    </div>
  </div>
  <app-chat-input class="input"
                  (messageEvent)="sendMessage($event)"
                  (filterUserEvent)="filterByUser($event)"
                  (showSearchEvent)="openSearchDialog()"
                  (showUploadEvent)="openUploadDialog()"></app-chat-input>
</div>

