.thumbnail-list {
  display: block;
  //height: 120px;
  white-space: nowrap;

  .thumbnail-item {
    display: inline-block;
    background-size: cover;
    background-position: center center;
    height: 120px;
    width: 200px;
  }

  .item {
    border: none;
    //padding: 5px;
    //margin: 0;
    box-sizing: border-box;
    cursor: pointer;

    &.active {
      border: 1px solid cornflowerblue;
      box-sizing: border-box;
    }
  }
}
