.thumbnail-list {
  display: block;
  white-space: nowrap;

  .thumbnail-item {
    display: inline-block;
    position: relative;
    background-size: cover;
    background-position: center center;
    height: 120px;
    width: 200px;
  }

  .hidden {
    visibility: hidden;
  }

  .top-left {
    position: absolute;
    top: 0;
    right: 4px;
  }

  .item {
    border: none;
    box-sizing: border-box;
    cursor: pointer;

    &.active {
      border: 1px solid cornflowerblue;
      box-sizing: border-box;
    }

  }
}
