.image-container {
  position: relative;
  display: flex;
  margin: 10px;
  border: 1px solid #00000000;

  &:hover {
    border-color: darkgray;

    .action-container {
      opacity: 1;
    }
  }

  &.active {
    border-color: darkgray;
    //border-color: var(--primary-color);
  }
}

img {
  width: 202px;
  height: 162px;
  object-fit: contain;
  transition: .2s ease;

  &:hover {
    cursor: pointer;
  }
}

button {
  &.active {
    color: yellow;
  }
}

.action-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  & .bg {
    background-color: rgba(0, 0, 0, 0.76);
  }
}

.download-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000000ad;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.lock {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
  transition: .1s ease;
}

.info-container-bg {
  position: relative;
  background-color: #000000ad;
  width: 100%;
  height: 100%;
}

.action-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 50%;
  top: 50%;
  transition: .2s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
}

.mat-mini-fab.mat-primary {
  background-color: #000000;
}
