<h1 mat-dialog-title>Edit photo(s)</h1>
<mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Manage Tags of selected picture(s)</mat-label>
    <mat-chip-grid #chipList>
      <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)">
        {{tag.name}}
        <button matChipRemove [attr.aria-label]="'remove ' + tag.name">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="New tag..." [matChipInputFor]="chipList"
           #tagInput [formControl]="tagCtrl" [matAutocomplete]="auto"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="add($event)">
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag">
        {{tag.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="tagCtrl.errors?.requireMatch">Value need match available options</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button type="submit" class="mat-primary" [disabled]="!changed"
          (click)="onSave()" [mat-dialog-close]="addedTags">Ok
  </button>
  <mat-error *ngIf="tagCtrl.errors?.requireMatch">Value need match available options</mat-error>
</mat-dialog-actions>
