.control-panel {
  max-width: 294px;
}

.control-panel > * {
  margin: 5px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.item {

  display: flex;
  padding: 0.5rem;

  @media (max-width: 799px) {
    margin: 0 auto;
  }
  @media (min-width: 800px) {
    width: 50%;
  }

  @media (min-width: 1100px) {
    width: calc(100% / 3)
  }

  @media (min-width: 1400px) {
    width: calc(100% / 4);
  }

  @media (min-width: 1700px) {
    width: calc(100% / 5);
  }

  @media (min-width: 2000px) {
    width: calc(100% / 6);
  }

  @media (min-width: 2300px) {
    width: calc(100% / 5);
  }

  @media (min-width: 2600px) {
    width: calc(100% / 6);
  }

  @media (min-width: 2900px) {
    width: calc(100% / 7);
  }
}

.selection-area-container {
  user-select: none;
}

.scrollbar-container {
  height: 100%;
  min-height: 200px;
}

.panel {
  margin: 5px;
}

.scrollbar-container > div {
  margin: 10px;
}

.gap {
  //column-gap: 10px;
  row-gap: 10px;
}
