<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="user-card">
    <mat-card-content>
      <div class="p8t">
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Given Name</mat-label>
              <input matInput placeholder="Given name" formControlName="givenName">
              <mat-error *ngIf="form.controls['givenName'].hasError('required')">
                Given name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Last name" formControlName="lastName">
              <mat-error *ngIf="form.controls['lastName'].hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="Email" formControlName="email">
              <mat-error *ngIf="form.controls['email'].hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Role</mat-label>
              <mat-select placeholder="Role" formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{ role }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['role'].hasError('required')">
                Role is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width" appearance="fill">
              <mat-label>Status</mat-label>
              <mat-select placeholder="Status" formControlName="status">
                <mat-option *ngFor="let status of statuses" [value]="status">
                  {{ status }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls['status'].hasError('required')">
                Status is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <span class="spacer"></span>
      <button mat-raised-button [disabled]="form.disabled" (click)="onCancel()" type="button">Cancel</button>
      <button mat-raised-button color="primary" [disabled]="!(changed && valid)" type="submit">Save</button>
    </mat-card-actions>
  </mat-card>
</form>
