.layout-wrapper-container {
  //min-height: 60px;
  display: flex;
  flex-direction: column;

  //overflow: hidden;

  //justify-content: center;
  //align-items: center;
  ////text-align: center;
  ////border: dashed 1px #979797;
  //margin: 0 auto;
}

.btn-container {
  display: flex;
  justify-content: center;
  //margin-top: 16px;
}
