<div class="row-max-height">
  <div class="column control-panel p5">
    <div class="scrollbar-container">
      <app-gallery-tag-filter
        [tagGroups]="tagGroups" [activeTags]="activeTags" [photoCounts]="photoCounts"
        (addTagFilterEvent)="handleTagFilterChanged($event, true)"
        (removeTagFilterEvent)="handleTagFilterChanged($event, false)"></app-gallery-tag-filter>
    </div>
    <app-gallery-rating-filter
      [currentRating]="currentRating"
      (changeRatingEvent)="handleRatingChange($event)"></app-gallery-rating-filter>
    <app-gallery-date-filter></app-gallery-date-filter>
    <div class="column">
      <button mat-raised-button color="primary" type="button" (click)="onClickClearFilter()">
        Clear Filter
        <mat-icon style="font-size: 1.5em">clear</mat-icon>
      </button>
    </div>
    <app-gallery-action-panel
      [actions]="actions" (actionEvent)="onAction($event)"></app-gallery-action-panel>
    <app-gallery-image-detail [currentPhoto$]="currentPhoto$"></app-gallery-image-detail>
    <app-gallery-meta-editor-panel
      [selectedPhotosCount]="selection.length" [filteredPhotosCount]="photos.length"
      [loadedPhotos]="loadedPhotos" [availablePhotos]="availablePhotos"></app-gallery-meta-editor-panel>
  </div>
  <div class="column-max-width">
    <div class="scrollbar-container">
      <ng-scrollbar #scrollbar class="dark-scrollbar">
        <div class="images-wrapper">
          <app-editor-photo-control
            *ngFor="let photo of (photos$ | async); let i=index" class="selection-item" [photo]="photo"
            [selected]="currentIndex === i" [hasRights]="true" [edit]="selection.includes(photo)"
            (click)="setCurrent(photo)" (deleteEvent)="onSelectForDelete($event)"
            (previewEvent)="onSelectForPreview($event)" (editEvent)="onSelectForEdit($event)"
            (groupEditEvent)="onSelectGroupEdit($event)"></app-editor-photo-control>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>
