.control-panel {
  max-width: 282px;
}

.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  //align-items: flex-start;
  //align-content: flex-start;
  //justify-content: flex-start;
}

.selection-area-container {
  user-select: none;
}

.scrollbar-container {
  height: 100%;
}

.panel {
  margin: 5px;
}

.scrollbar-container > div {
  margin: 10px;
}

.gap {
  //column-gap: 10px;
  row-gap: 10px;
}
