<button mat-icon-button [matMenuTriggerFor]="playerMenu">
  <mat-icon>volume_mute</mat-icon>
</button>
<mat-menu #playerMenu="matMenu" yPosition="below">
  <button mat-menu-item (click)="onClickTogglePlay()">
    <mat-icon>{{playToggleAction.symbol}}</mat-icon>
    <span>{{playToggleAction.name}}</span>
  </button>
  <button mat-menu-item (click)="onClickClose()">
    <mat-icon>{{exitAction.symbol}}</mat-icon>
    <span>{{exitAction.name}}</span>
  </button>
  <button mat-menu-item [matMenuTriggerFor]="radioStations">Sender</button>
</mat-menu>

<mat-menu #radioStations="matMenu">
  <button *ngFor="let radio of radios" mat-menu-item
          (click)="onClickPlay(radio)" [class.active]="current === radio">
    {{radio.name}}
  </button>
</mat-menu>
