.dynamic-wrapper-container {
  width: 100%;
  position: relative;
  min-height: 60px;
  display: inline-flex;
  border: dashed 1px #979797;
  box-sizing: border-box;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
  //text-align: center;
  //border: dashed 1px #979797;
  //margin: 0 auto;
  //display: flex;
  //margin: 10px;
  //transition: .2s ease;
  //opacity: 1;

  &:hover {
    border-color: darkgray;

    .action-container {
      opacity: 1;
    }
  }

  &.active {
    border-color: darkgray;
    //border-color: var(--primary-color);
  }
}

.component-exist {
  box-sizing: border-box;
  border: dashed 1px #979797;
  width: 100%;
}

.no-component-exist {
  display: none;
}

.action-container {
  position: absolute;
  height: fit-content;
  right: 16px;
  top: 16px;
  transition: .2s ease;
  //opacity: 0;
  //transform: translate(-50%, -50%);

  mat-card-content {
    padding: 0 !important;
  }

}

//.action-container {
//  background-color: rgba(0, 0, 0, 0.8);
//  //width: 100%;
//  //display: flex;
//  //justify-content: space-evenly;
//  position: absolute;
//  right: 16px;
//  top: 16px;
//  transition: .2s ease;
//  //opacity: 0;
//  //transform: translate(-50%, -50%);
//}
