<div class="dynamic-wrapper-container">
    <ng-template appDynamicHost></ng-template>

    <p *ngIf="!currentComponent">{{componentName}}</p>

    <!--  todo use cdk overlay for action container (trigger by eventbus)-->
    <!--  https://stackblitz.com/edit/custom-position-strategy?file=app%2Fapp.component.ts-->
    <!--  https://stackblitz.com/edit/update-position-strategy?file=app%2Fapp.component.ts-->

    <!--    <mat-card class="action-container" [class.no-component-exist]="!currentComponent">-->
    <mat-card class="action-container" [class.no-component-exist]="!currentComponent">
        <mat-card-content>
            <button mat-icon-button (click)="onClickConfigure()"
                    matTooltip="not implemented. need category (e.g. contacts) ">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <button mat-icon-button (click)="onClickConfigure()"
                    matTooltip="not implemented. need category (e.g. contacts) ">
                <mat-icon>arrow_forward</mat-icon>
            </button>
            <button mat-icon-button (click)="onClickConfigure()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onClickSwitch()">
                <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button (click)="onClickDelete()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>

    <!--    <div class="action-container defaultBgColor" [class.no-child]="!currentComponent">-->
    <!--        <button mat-icon-button (click)="onClickConfigure()"-->
    <!--                matTooltip="not implemented. need category (e.g. contacts) ">-->
    <!--            <mat-icon>arrow_back</mat-icon>-->
    <!--        </button>-->
    <!--        <button mat-icon-button (click)="onClickConfigure()"-->
    <!--                matTooltip="not implemented. need category (e.g. contacts) ">-->
    <!--            <mat-icon>arrow_forward</mat-icon>-->
    <!--        </button>-->
    <!--        <button mat-icon-button (click)="onClickConfigure()">-->
    <!--            <mat-icon>edit</mat-icon>-->
    <!--        </button>-->
    <!--        <button mat-icon-button (click)="onClickSwitch()">-->
    <!--            <mat-icon>settings</mat-icon>-->
    <!--        </button>-->
    <!--        <button mat-icon-button (click)="onClickDelete()">-->
    <!--            <mat-icon>delete</mat-icon>-->
    <!--        </button>-->
    <!--    </div>-->
</div>
