<div class="message" *ngFor="let message of messages | async; let i=index"
     [class.own]="message.userName === userName">
  <div class="username" *ngif="message.userName !== userName">{{ message.userName }}</div>
  <div class="content">
    <div>{{ message.content }}</div>
    <!--    <app-chat-image-item *ngIf="message.image" [src]="message.image"-->
    <!--                         (imageLoadEvent)="onImageLoad($event)"></app-chat-image-item>-->
  </div>
</div>

<!--<div class="message" *ngFor="let message of messages | async; let i=index"-->
<!--     :key="index" [class.own]="message.username === username">-->
