<!--<ng-scrollbar class="dark-scrollbar" track="vertical" visibility="always">-->
<!--  <div class="page">-->
<!--    <app-photos-highlight-->
<!--      *ngFor="let photo of (photos$ | async)" [photo]="photo"></app-photos-highlight>-->
<!--  </div>-->
<!--</ng-scrollbar>-->

<ng-scrollbar class="light-grey" track="vertical" visibility="always">

  <div class="row">
    <div *ngFor="let photo of (photos$ | async)" class="col-l-6">
      <app-photos-highlight
        [photo]="photo"></app-photos-highlight>

    </div>
  </div>

</ng-scrollbar>
