@use '@angular/material' as mat;

@mixin theme-colors($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  //$colorBackground: map-get($theme, background-palette);
  //@debug "Fuck: #{$colorBackground}";

  .defaultBgColor {
    color: #46a246;
    //background-color: mat.get-color-from-palette($colorBackground);
  }
  .primaryColor {
    color: mat.get-color-from-palette($primary);
  }
  .primaryBgColor {
    background-color: mat.get-color-from-palette($primary);
  }
  .accentColor {
    color: mat.get-color-from-palette($accent);
  }
  .accentBgColor {
    background-color: mat.get-color-from-palette($accent);
  }
  .warnColor {
    color: mat.get-color-from-palette($warn);
  }
  .warnBgColor {
    background-color: mat.get-color-from-palette($warn);
  }
}

