<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let tag of tags$ | async; let i = index"
                       [expanded]="step === i" (opened)="setStep(i)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ tag.tagName}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-selection-list dense>
      <mat-list-option *ngFor="let entry of tag.entries" [selected]="isTagActivated(entry)"
                       [value]="entry" (click)="onSelectionChange(entry)">
        {{entry}}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>
