<mat-form-field appearance="fill">
  <mat-label>Von</mat-label>
  <mat-select (selectionChange)='onChangeFrom($event)'>
    <mat-option>X</mat-option>
    <mat-option *ngFor='let year of fromYears' [value]='year'>
      {{year}}
    </mat-option>
  </mat-select>

</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Bis</mat-label>
  <mat-select (selectionChange)='onChangeTo($event)'>
    <mat-option>X</mat-option>
    <mat-option *ngFor='let year of fromYears' [value]='year'>
      {{year}}
    </mat-option>
  </mat-select>
</mat-form-field>
