<mat-card class="card">
  <mat-card-content>
    <span> Name: {{ (currentPhoto$ | async)?.fileName }}</span>
    <br>
    <span> Date: {{ (currentPhoto$ | async)?.recordDate | date }}</span>
    <br>
    <span> Owner: {{ (currentPhoto$ | async)?.user?.givenName }} {{ (currentPhoto$ | async)?.user?.surName }}</span>
    <app-photos-rating></app-photos-rating>
    <mat-chip-set>
      <mat-chip *ngFor="let tag of (currentPhoto$ | async)?.tags">
        {{ tag.name }}
      </mat-chip>
    </mat-chip-set>
  </mat-card-content>
</mat-card>
