.control-panel {
  width: 294px;
}

.control-panel > * {
  margin: 5px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.item {

  display: flex;
  padding: 0.5rem;

  @media (max-width: 749px) {
    margin: 0 auto;
  }
  @media (min-width: 750px) {
    width: 50%;
  }

  @media (min-width: 1000px) {
    width: calc(100% / 3)
  }

  @media (min-width: 1250px) {
    width: calc(100% / 4);
  }

  @media (min-width: 1500px) {
    width: calc(100% / 5);
  }

  @media (min-width: 1750px) {
    width: calc(100% / 6);
  }

  @media (min-width: 2000px) {
    width: calc(100% / 7);
  }

  @media (min-width: 2250px) {
    width: calc(100% / 8);
  }

  @media (min-width: 2500px) {
    width: calc(100% / 9);
  }
}

.selection-area-container {
  user-select: none;
}

.scrollbar-container {
  min-height: 200px;
  height: 100%;
}

.panel {
  margin: 5px;
}

.gap {
  //column-gap: 10px;
  row-gap: 10px;
}
