.page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template: [header-left] "nav     nav" auto [header-right]
                 [main-left]   "actions main" 1fr  [main-right]
                 //[footer-left] "actions foot" 30px [footer-right]
                 / auto 1fr;
}

.nav-bar {
  grid-area: nav;
}

.action-bar {
  grid-area: actions;
  //display: flex;
  //flex-direction: column;
}

main {
  grid-area: main;
}

//footer {
//  grid-area: foot;
//}
