<div class="grid horizontal">
  <!--     [class.horizontal]="view === viewEnum.Horizontal"-->
  <!--     [class.vertical]="view === viewEnum.Vertical">-->

  <div class="grid-detail">
    <div class="responsive-image"
         [style.background-image]="'url(' + imgUrl + ')'"></div>
    <a class="prev" (click)="prevSlide()">&#10094;</a>
    <a class="next" (click)="nextSlide()">&#10095;</a>
    <div class="caption-container">
      <p>todo: info & actionbar</p>
    </div>
  </div>

  <div class="grid-thumbs">
    <!--    <app-gallery-vertical-scroller *ngIf="view === viewEnum.Vertical">-->
    <!--    </app-gallery-vertical-scroller>-->
    <app-gallery-horizontal-scroller></app-gallery-horizontal-scroller>
  </div>
</div>
