<form novalidate>
  <mat-card class="card-size-l component">
    <mat-card-header class="card-no-avatar-margin-fix">
      <mat-card-title>Image Upload</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="column">
          <div class="row">
            <div class="column">
              <div style="width: auto; height: 300px;">
                <ng-scrollbar class="dark-scrollbar" [autoWidthDisabled]="false"
                              track="vertical" visibility="always">
                  <mat-selection-list appNoPaddingTop multiple="false">
                    <mat-list-option *ngFor="let category of categories$ | async; let i = index"
                                     [value]="category" (click)="onCategorySelect(category)">
                      {{category.name}}
                    </mat-list-option>
                  </mat-selection-list>
                </ng-scrollbar>
              </div>
            </div>
            <mat-divider [vertical]="true"></mat-divider>
            <div class="chiplist-container">
              <mat-chip-list>
                <mat-chip [class.active]="isSelected(tag)"
                          *ngFor="let tag of tags$ | async"
                          (click)="onSelectChip(tag)">
                  {{tag.name}}
                  <mat-icon [class.active]="isSelected(tag)">check_circle</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="row">
            <img class="example-header-image" *ngFor="let url of imgUrls" [src]="url" alt="upload preview">
          </div>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="imgFiles === undefined" mat-raised-button color="primary"
              type="button" (click)="openFile()">Open
      </button>
      <button *ngIf="imgFiles !== undefined" mat-raised-button color="primary"
              type="button" (click)="uploadImage()">Upload
      </button>
    </mat-card-actions>
  </mat-card>
  <input #fileInput style="display: none" type="file" (change)="onChange($event)" multiple accept="image/*">
</form>
