<section class="page">
  <header class="nav-bar">
    <nav mat-tab-nav-bar [tabPanel]="tabPanel">
      <a mat-tab-link *ngFor="let item of routes"
         (click)="navigateUrl(item.path)"
         [active]="activeLink === item.path"> {{item.name}} </a>
    </nav>
  </header>
  <!--  <app-action-bar class="action-bar"></app-action-bar>-->
  <main>
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>

  </main>
  <!--  <footer>Footer</footer>-->
</section>
