<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Meta Data</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item>
        <span matLine style="font-size:10px"> Gesamt </span>
        <h2 matLine style="font-size:16px"> {{allPhotosCount}} </h2>
      </mat-list-item>
      <mat-list-item>
        <span matLine style="font-size:10px"> Filter </span>
        <h2 matLine style="font-size:16px"> not implement </h2>
      </mat-list-item>
      <mat-list-item>
        <span matLine style="font-size:10px"> Ausgewählt </span>
        <h2 matLine style="font-size:16px"> {{selectedPhotosCount}} </h2>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
