.emoji-picker {
  background: white;
  position: absolute;
  bottom: 5rem;
  left: 0;
  width: 200px;
  user-select: none;
}

.emoji-picker .emoji-header {
  display: flex;
  padding: 5px;
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.15);
}

.emoji-picker .emoji-header .emoji-close {
  margin-left: auto;
}

.emoji-picker .emoji-content {
  margin-top: 10px;
  overflow-y: auto;
  height: 200px;
}

.emoji-picker span {
  cursor: pointer;
  font-size: 25px;
}
