//::-webkit-scrollbar {
//  width: 0.5em;
//  height: 0.55em;
//  background: transparent;
//}
//
//::-webkit-scrollbar-thumb {
//  background: #afafaf;
//  border-radius: 0.2em;
//}
//
//::-webkit-scrollbar-corner {
//  display: none;
//}

main {
  width: 100%;
  max-width: 50em;
  margin: 1.5em auto;
  padding-bottom: 10rem;
}

section {
  background: #1c1b1b;
}

//main .boxes {
//  display: -webkit-box;
//  display: -ms-flexbox;
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: center;
//  border: 2px solid rgba(66, 68, 90, 0.075);
//  border-radius: 0.15em;
//  padding: 1em 0;
//  user-select: none;
//}

main .boxes {
  display: grid;
  grid-template-columns: repeat(28, 1fr);
  grid-gap: 0.4em;
  align-items: flex-start;
  justify-content: flex-start;
  max-height: 25em;
  overflow: auto;
  padding: 0.5em;
  margin-bottom: 3em;
  border: 2px solid rgba(66, 68, 90, 0.075);
  border-radius: 0.15em;
}

main .boxes::after {
  display: block;
  content: '';
  clear: both;
}

main .boxes div {
  height: 3em;
  width: 3em;
  margin: 0.2em;
  background: rgba(66, 68, 90, 0.075);
  border: 2px solid transparent;
  border-radius: 0.15em;
  cursor: pointer;
}

main .boxes div.selected {
  background: hsl(200, 80%, 65%);
  border: 2px solid rgba(0, 0, 0, 0.075);
}

.selection-area {
  background: rgba(46, 115, 252, 0.11);
  border: 1px solid rgba(98, 155, 255, 0.85);
  border-radius: 0.15em;
}

