<main>
  <section class="demo">
    <div class="info">
      <p>
        <span>Click to select the boxes, use</span>
        <span class="key">ctrl</span> /
        <span class="key">cmd</span> +
        <span class="key">shift</span>
        <span> to select a range.</span>
      </p>
      <p>Click and drag <span class="key">left mouse</span> to make a multi-selection.</p>
      <p>Hold <span class="key">ctrl</span> / <span class="key">cmd</span> to make multiple selections.</p>
    </div>

    <h2>Full support for scrollable containers</h2>
    <section class="boxes">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </section>
  </section>
</main>
