.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-no-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.row-max-width {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* syntax is needed because have to decrease specificity.
   so this is not possible
 .flex-row > * {
  key: value;
} */
:where(.row) > * {
  width: 100%;
  max-width: 100%;
  margin-top: var(--gutter);
  padding-right: calc(.5 * var(--gutter));
  padding-left: calc(.5 * var(--gutter));
}

.row-max-height {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-max-width {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.column-max-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-center-content-evenly {
  align-items: center;
  justify-content: space-evenly;
}

.center-container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
