.p5 {
  padding: 5px !important;
}

.p10 {
  padding: 10px !important;
}

.p8 {
  padding: 8px !important;
}

.p8t {
  padding-top: 8px !important;
}

.p8b {
  padding-bottom: 8px !important;
}

.p8tb {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.p8lr {
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.p8tlr {
  padding-top: 8px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.p8blr {
  padding-bottom: 8px !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}

.p16 {
  padding: 16px !important;
}

.p16t {
  padding-top: 16px !important;
}

.p16b {
  padding-bottom: 16px !important;
}

.p16tb {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.p16lr {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.p16tlr {
  padding-top: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.p16blr {
  padding-bottom: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
