<ng-scrollbar class="dark-scrollbar" track="vertical" visibility="always">
  <div class="gallery">
    <div class="gallery-panel" *ngFor="let photo of (photos$ | async)">
      <picture>
        <source media="(min-width: 1900px)" [srcset]="getPhotoUrl(photo.fileName)">
        <source media="(min-width: 1200px)" [srcset]="getPreviewUrl(photo.fileName)">
        <source media="(min-width: 800px)" [srcset]="getThumbUrl(photo.fileName)">
        <img loading="lazy" [src]="getThumbUrl(photo.fileName)" alt="thumb">
      </picture>
    </div>
  </div>
</ng-scrollbar>
