<div class="three-container">
  <canvas #canvas class="three-container"></canvas>
  <div *ngIf="showInstruction" id="blocker" (click)="lockControls()">
    <div id="instructions">
      <p style="font-size:36px">
        Klick zum Starten
      </p>
      <p>
        Steuerung: WASD oder ←↑↓→<br/>
        Ende: ESC<br/>
      </p>
    </div>
  </div>
  <div class="column button-container">
    <mat-button-toggle-group (change)="toggleCamera($event)" [(value)]="camera">
      <mat-button-toggle value="bird">Vogel</mat-button-toggle>
      <mat-button-toggle value="person">Person</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</div>
