<div class="grid"
     [class.horizontal]="view === viewEnum.Horizontal"
     [class.vertical]="view === viewEnum.Vertical">

  <div class="grid-detail">
    <app-gallery-image-grid></app-gallery-image-grid>
  </div>

  <div class="grid-thumbs">
    <app-gallery-vertical-scroller *ngIf="view === viewEnum.Vertical"
                                   (selectEvent)="onSelectImage($event)">
    </app-gallery-vertical-scroller>
    <app-gallery-horizontal-scroller *ngIf="view === viewEnum.Horizontal"
                                     (selectEvent)="onSelectImage($event)">
    </app-gallery-horizontal-scroller>
  </div>
</div>
