<mat-card class="test-container">
  <mat-card-content>
    <div class="row">
      <div class="col-s-6 test-col">Foo</div>
      <div class="col-s-6 test-col">Bar</div>
    </div>
    <div class="row">
      <div class="col-m-6 test-col">Baz</div>
      <div class="col-m-6 test-col">Baz</div>
    </div>
    <div class="row">
      <div class="col-l-6 test-col">Baz</div>
      <div class="col-l-6 test-col">Baz</div>
    </div>
    <div class="row">
      <div class="col-s-1 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-2 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-3 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-4 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-5 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-6 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-7 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-8 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-9 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-10 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-11 test-col">Foo</div>
    </div>
    <div class="row">
      <div class="col-s-12 test-col">Foo</div>
    </div>
  </mat-card-content>
</mat-card>
