.button-group {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  border: solid 1px #595959;
}
