<mat-card class="card component">
  <mat-card-header>
    <mat-card-title>Radio Sender</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-tab-group>
      <mat-tab label="Favoriten">
        <ng-scrollbar class="dark-scrollbar" [autoHeightDisabled]="false" track="horizontal" visibility="always">
          <div>
            <div class="thumbnail-list">
              <div *ngFor="let radio of favorites;"
                   class="thumbnail-item item" [class.active]="radio === current"
                   [style.background-image]="'url(' + radio.logoUrl + ')'"
                   (click)="onClickPlay(radio)">
                <div class="action-overlay" [class.active]="radio === current && playing">
                  <button mat-mini-fab color="primary">
                    <mat-icon>volume_mute</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-scrollbar>
      </mat-tab>
      <mat-tab label="Leer">Leer</mat-tab>
      <mat-tab label="Leer">Content</mat-tab>
    </mat-tab-group>
    <audio #player></audio>
  </mat-card-content>
</mat-card>
