<!--<div class="row">-->
<!--  <app-reminder class="component col-s33"></app-reminder>-->
<!--  <app-ingredients class="component col-s33"></app-ingredients>-->
<!--  &lt;!&ndash;  <mat-grid-list cols="4">&ndash;&gt;-->
<!--  &lt;!&ndash;    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">&ndash;&gt;-->
<!--  &lt;!&ndash;      <app-dashboard-card [title]="card.title"&ndash;&gt;-->
<!--  &lt;!&ndash;                          imgUrl="http://localhost:3000/image-1635497339371.jpg"></app-dashboard-card>&ndash;&gt;-->
<!--  &lt;!&ndash;    </mat-grid-tile>&ndash;&gt;-->
<!--  &lt;!&ndash;  </mat-grid-list>&ndash;&gt;-->
<!--</div>-->

<mat-card class="pizza-card">
  <mat-card-content>
    <div class="row">
      <div class="col-s50 test-col">Foo</div>
      <div class="col-s50 test-col">Bar</div>
    </div>
  </mat-card-content>
</mat-card>
