<ng-template [ngIf]="(user$ | async)" [ngIfElse]="noUser">

  <ng-scrollbar class="dark-scrollbar">
    <div class="row">
      <div [class.col-s-6]="(isHandset$ | async) === false">
        <app-waste-reminder/>
      </div>
      <div [class.col-s-6]="(isHandset$ | async) === false">
        <app-ingredients/>
      </div>
      <div [class.col-s-6]="(isHandset$ | async) === false">
        <app-player/>
      </div>
    </div>
  </ng-scrollbar>
</ng-template>

<ng-template #noUser>
  <div class="page">
    <p>Dies ist eine private Seite.</p>
    <p>Du musst registriert sein, um dich mit deinem Google Account einzuloggen.</p>
    <p>-</p>
    <p>This is a private site.</p>
    <p>You must be registered to login with your google account.</p>
  </div>
</ng-template>
