.full-width {
  width: 100%;
}

.width33 {
  width: calc(100% / 3);
}

.width25 {
  width: 25%;
}

.pizza-card {
  max-width: 500px;
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.test-col {
  background: green;
}
