.pizza-card {
  max-width: 410px;
  width: 410px;
}

.subtitle {
  font-size: 18px;
  margin-top: 8px;
}

.flexbox-panel {
  display: flex;
  justify-content: center;
}

.m8-l-r {
  margin: 8px 0 8px 0;
  //margin-left: 8px;
  //margin-right: 8px;
}
