mat-nav-list.list-horizontal {
  padding: 0;

  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
  }
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.active-route {
  color: var(--secondary-color);
  background: rgba(255, 255, 255, 0.04);
  //background: green;
}

mat-list-item {
  //background: green;
  //background: var(--primary-color-light);
  //background: rgba(0, 0, 0, .4);
}
