<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Actions</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list dense>
      <mat-list-item>
        <button mat-raised-button color="primary"
                type="button" (click)="onClickSelectAll()">Open
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary"
                type="button" (click)="onClickSelectAll()">Open
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-raised-button color="primary"
                type="button" (click)="onClickSelectAll()">Open
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
