.mat-mdc-raised-button > .mat-icon {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
