<h1 mat-dialog-title>Bild hinzufügen</h1>
<mat-dialog-content>

  <!--  <div class="thumbnail-list">-->
  <!--    <div class="thumbnail-item item" *ngFor="let image of images; let i = index"-->
  <!--         [style.background-image]="'url(' + image + ')'"-->
  <!--         (click)="onSelectImage($event, i)">-->
  <!--    </div>-->
  <!--  </div>-->

  <app-drag-drop-input
    (fileChangeEvent)="onFilesChange($event)"></app-drag-drop-input>
  <div class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Schreib einen Kommentar</mat-label>
      <textarea matInput [(ngModel)]="comment"
                placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </div>

</mat-dialog-content>

<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button (click)="onClickCancel()">Abbrechen</button>
  <button mat-raised-button color="primary"
          (click)="onClickSend()" [disabled]="files.length === 0"> Ok
  </button>
</mat-dialog-actions>
