<button mat-icon-button [color]="rate > 0 ? 'accent' : 'primary'"
        (click)="onClickStar(1)">
  <mat-icon>star_rate</mat-icon>
</button>
<button mat-icon-button [color]="rate > 1 ? 'accent' : 'primary'"
        (click)="onClickStar(2)">
  <mat-icon>star_rate</mat-icon>
</button>
<button mat-icon-button [color]="rate > 2 ? 'accent' : 'primary'"
        (click)="onClickStar(3)">
  <mat-icon>star_rate</mat-icon>
</button>
<button mat-icon-button [color]="rate > 3 ? 'accent' : 'primary'"
        (click)="onClickStar(4)">
  <mat-icon>star_rate</mat-icon>
</button>
<button mat-icon-button [color]="rate > 4 ? 'accent' : 'primary'"
        (click)="onClickStar(5)">
  <mat-icon>star_rate</mat-icon>
</button>
