<mat-toolbar>
  <app-chat-emoji-picker
    [visible]="emojiPanel" (close)="onClose()"
    (emojiSelectEvent)="addEmojiToMessage($event)"></app-chat-emoji-picker>
  <button mat-mini-fab color="primary"
          class="m10" (click)="toggleEmojiPanel()">
    <mat-icon>emoji_emotions</mat-icon>
  </button>

  <button
    mat-mini-fab color="primary" class="m10"
    (click)="showUpload()">
    <mat-icon>attach_file</mat-icon>
  </button>

  <button
    mat-mini-fab color="primary" class="m10"
    (click)="showSearch()">
    <mat-icon>search</mat-icon>
  </button>

  <textarea
    class="m10" matInput [(ngModel)]="content"
    cdkTextareaAutosize #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
    placeholder="Schreib eine Nachricht" required></textarea>
  <button
    mat-mini-fab color="primary" class="m10"
    (click)="emitMessage()" [disabled]="content === &quot;&quot;">
    <mat-icon>send</mat-icon>
  </button>
</mat-toolbar>

