<span>©</span>
<span class="spacer"></span>
<button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
<mat-menu #aboveMenu="matMenu" yPosition="above">
  <nav>
    <a routerLink="/dashboard" routerLinkActive="active-link" class="mat-menu-item">Dashboard</a>
  </nav>
  <nav>
    <a routerLink="/heroes" routerLinkActive="active-link" class="mat-menu-item">Shiba</a>
  </nav>
  <nav>
    <a routerLink="/account/login" routerLinkActive="active-link" class="mat-menu-item">Login</a>
  </nav>
  <nav>
    <a routerLink="/address" routerLinkActive="active-link" class="mat-menu-item">Address</a>
  </nav>
  <nav>
    <a routerLink="/account" routerLinkActive="active-link" class="mat-menu-item">Account</a>
  </nav>
  <nav>
    <a routerLink="/profile" routerLinkActive="active-link" class="mat-menu-item">Profil</a>
  </nav>
  <nav>
    <a routerLink="/admin" routerLinkActive="active-link" class="mat-menu-item">Admin</a>
  </nav>
</mat-menu>
