<div *ngFor="let message of messages | async"
     class="message" [class.own]="message.userId === user.id">

  <ng-template [ngIf]="message.userId !== user.id" [ngIfElse]="userMessage">
    <div class="username">
      {{ message.userFirstName }} {{message.userLastName }} {{ (message.date | date:'medium') }}
    </div>
  </ng-template>

  <ng-template #userMessage>
    <div class="username">
      {{ (message.date | date:'medium') }}</div>
  </ng-template>

  <div class="content">
    <div>{{ message.text }}</div>

    <app-chat-image-item
      *ngIf="message.pictureUrls[0]" [src]="message.pictureUrls[0]"
      (imageLoadEvent)="onImageLoad()"></app-chat-image-item>
  </div>

  <!--  <div class="content">-->
  <!--    <ng-template [ngIf]="message.pictureUrls[0]">-->
  <!--      <app-chat-image-item [src]="message.pictureUrls[0]"-->
  <!--                           (imageLoadEvent)="onImageLoad()"></app-chat-image-item>-->
  <!--    </ng-template>-->
  <!--    <div>{{ message.text }}</div>-->
  <!--  </div>-->

</div>
