@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.app-logo {
  font-family: 'Michroma', sans-serif;
}

.logo-color {
  color: red;
}

a {
  text-decoration-line: none;
}

.active-route {
  background-color: var(--primary-color-dark) !important;

  &.mat-mdc-unelevated-button:not(:disabled) {
    background-color: var(--mdc-filled-button-container-color, transparent) !important;
  }

  &.mdc-button__label:not(:disabled) {
    background-color: var(--mdc-filled-button-label-text-color, inherit) !important;
  }
}

.mat-mdc-unelevated-button:not(:disabled) {
  background-color: transparent !important;
}
