<div class="grid" [class]="theme">
  <app-appbar class="appbar" appName="A4W" (switchThemeEvent)="onSwitchTheme($event)"
              (toggleNavEvent)="toggleNav()"></app-appbar>

  <mat-sidenav-container class="main" autosize>
    <mat-sidenav fixedInViewport="false" mode="side" class="example-sidenav"
                 [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                 [mode]="(isHandset$ | async) ? 'over' : 'side'"
                 [opened]="(isHandset$ | async)">

      <mat-selection-list [multiple]="false">
        <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
          {{shoe}}
        </mat-list-option>
      </mat-selection-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!--  <app-app-footer class="footer mat-toolbar mat-toolbar-single-row"></app-app-footer>-->
</div>
