<div class="grid" [class]="theme">
  <app-appbar class="appbar" [appName]="appName" [isHandset$]="isHandset$"
              (switchThemeEvent)="onSwitchTheme($event)" (toggleNavEvent)="toggleNav()"></app-appbar>

  <mat-sidenav-container class="main" autosize>
    <mat-sidenav mode="over">

      <mat-nav-list>
        <nav>
          <a mat-list-item *ngFor="let route of routes" [routerLink]="[route.route]"
             [routerLinkActive]="['active-route']">{{route.name}}</a>
        </nav>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!--  <app-app-footer class="footer mat-toolbar mat-toolbar-single-row"></app-app-footer>-->
</div>
