<div class="assets-container">
  <div class="row-max-height">
    <div class="column control-panel p5">
      <div class="scrollbar-container">
        <app-component-accordion/>
      </div>
    </div>
    <div class="row">
      <div class="asset">
        <app-landing-v1/>
        <button mat-raised-button color="primary" (click)="select(LandingComponent)">Select</button>
      </div>
      <div class="asset">
        <app-landing-v2/>
        <button mat-raised-button color="primary" (click)="select(LandingBgImgComponent)">Select</button>
      </div>
    </div>
  </div>
</div>

