<div class="page">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="example-form" autocomplete="off">
    <mat-card class="card-size-m">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>temporäre Lösung für Präsentationszwecke</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div class="row m10t">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Email" formControlName="email" type="text" required/>
              <mat-error *ngIf="form.controls['email'].hasError('required')">
                Email fehlt
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <mat-label>Passwort</mat-label>
              <input matInput placeholder="siehe Bewerbung :)" formControlName="password"
                     type="password" required>
              <mat-error *ngIf="form.controls['password'].hasError('required')">
                Passwort fehlt
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" type="submit" [disabled]="!valid">
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
