.upload-preview {
  //width: 94%;
  //max-width: 60vw;
  //max-width: 400px;
  //bottom: 0;
  //background-color: #8ca0ff;
  //z-index: 2;
}

.thumbnail-list {
  display: block;
  height: 140px;
  white-space: nowrap;

  .thumbnail-item {
    display: inline-block;
    background-size: cover;
    background-position: center center;
    height: 120px;
    width: 200px;
  }

  .item {
    border: none;
    padding: 5px;
    margin: 0;
    box-sizing: border-box;

    &.active {
      border: 1px solid cornflowerblue;
      box-sizing: border-box;
    }
  }
}

