<mat-card class="upload-preview">
  <mat-card-header>
    <mat-card-title>Upload</mat-card-title>
    <mat-card-subtitle>add pictures</mat-card-subtitle>
  </mat-card-header>

  <div class="thumbnail-list">
    <div class="thumbnail-item item" *ngFor="let image of images; let i = index"
         [style.background-image]="'url(' + image + ')'"
         (click)="onSelectImage($event, i)">
    </div>
  </div>

  <app-drag-drop-input (fileChangeEvent)="onFilesChange($event)"></app-drag-drop-input>

  <mat-card-content>
    <textarea rows="1" maxlength="800" autofocus="autofocus"></textarea>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button (click)="onUploadClicked()"
            aria-label="button to execute uploading files">
      <mat-icon>send</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
