<div class="flex-row-max-height">
  <div class="flex-column">
    <div class="scrollbar-container">
      <!--      <ng-scrollbar track="vertical" [autoWidthDisabled]="false">-->
      <app-gallery-filter-expansion-panel class="component"
                                          *ngIf=showFilter></app-gallery-filter-expansion-panel>
      <!--      </ng-scrollbar>-->
    </div>
    <app-gallery-image-detail class="component"
                              [currentPhoto]="currentPhoto"></app-gallery-image-detail>

    <app-gallery-meta-panel class="component"
                            [selectedPhotosCount]="selection.length"
                            [filteredPhotosCount]="photos.length"
                            [allPhotosCount]="allPhotosCount"></app-gallery-meta-panel>

    <app-action-panel class="component"></app-action-panel>
  </div>
  <div class="flex-column-max-width">
    <div class="scrollbar-container">
      <ng-scrollbar #img_scrollbar>
        <div class="images-wrapper">
          <app-image-control *ngFor="let photo of (photos$ | async)" class="selection-item"
                             [selected]="currentPhoto === photo" [download]="isSelected(photo)"
                             (click)="setCurrent(photo)" [photo]="photo"
                             [hasRights]="isAuthenticated"
                             (deleteEvent)="onSelectForDelete($event)"
                             (previewEvent)="onSelectForPreview($event)"
                             (downloadEvent)="onSelectForDownload($event)"></app-image-control>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>
