<div class="full-space mat-app-background">
  <div class="container">
    <h1>Impressum</h1><strong></strong>
    <p><strong>Die folgenden Angaben entsprechen den Vorgaben von § 5 TMG:</strong></p>
    <p>Patrick Liersch<br>Am Hang 300a<br>15913 Schwielochsee
    </p>
    <p><br><strong>Kontaktdaten:</strong><br>
    </p>
    <p>Telefon: + 49 (0) 173 8807973<br>E-Mail-Adresse:&nbsp<a href="mailto:patrick.liersch@gmx.de">patrick.liersch@gmx.de</a><br><a
      href="tel:+1-303-499-7111">Patrick anrufen</a><br><a href="tel:+1-303-499-7111"></a></p>
    <p><strong>Haftung für Inhalte:</strong></p>
    <p>Im Sinne von § 7 Absatz 1 TMG sind wir für die eigenen Inhalte auf dieser Webseite verantwortlich. Durch §§ 8
      bis einschließlich 10 TMG sind wir aber nicht verpflichtet, gespeicherte oder übermittelte fremde Inhalte zu
      überwachen oder diese auf Rechtswidrigkeit zu prüfen. Das befreit uns jedoch nicht von der Pflicht, der
      Sperrung und Entfernung von Informationen nach geltenden Gesetzen nachzukommen.</p>
  </div>
</div>
