<div class="row">
  <div class="col-6">
    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-select [formControl]="formControl" [compareWith]="compareTags" multiple
                  (valueChange)="onSelectionChange($event)">
        <mat-optgroup *ngFor="let sample of samples" [label]="sample.name">
          <mat-option *ngFor="let child of sample.children" [value]="child">
            {{child}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
</div>
