<mat-toolbar>
  <button mat-menu-item (click)="toggleTheme()">
    <mat-icon>brightness_6</mat-icon>
  </button>
  <button mat-icon-button aria-label="Example icon-button with share icon" [matMenuTriggerFor]="themeMenu">
    <mat-icon>brightness_6</mat-icon>
  </button>
  <mat-menu #themeMenu="matMenu" yPosition="below">
    <button mat-menu-item (click)="changeTheme('deeppurple-amber')">Deep-Purple Amber</button>
    <button mat-menu-item (click)="changeTheme('indigo-pink')">Indigo Pink</button>
    <button mat-menu-item (click)="changeTheme('purple-green')">Purple Green</button>
    <button mat-menu-item (click)="changeTheme('pink-bluegrey')">Pink Blue-Grey</button>
    <button mat-menu-item (click)="toggleTheme()">Toggle</button>
  </mat-menu>
</mat-toolbar>
