<div class="gallery-explorer-grid">
  <app-gallery-filter-expansion-panel class="component gallery-explorer-grid-filter"
    *ngIf=showFilter></app-gallery-filter-expansion-panel>
  <div class="gallery-explorer-grid-images">
    <img class="responsive" alt="thumbnail"
      *ngFor="let image of (images | async)"
      [class.active]="currentImage === image"
      [src]="image.fileName" (click)="currentImage = image">
  </div>
  <app-gallery-image-detail class="component gallery-explorer-grid-details"
    [currentPhoto]="currentImage">
  </app-gallery-image-detail>
</div>
