<div class="gallery-explorer-grid">
  <app-gallery-filter-expansion-panel class="component gallery-explorer-grid-filter"
                                      *ngIf=showFilter></app-gallery-filter-expansion-panel>

  <div class="gallery-explorer-grid-images">
    <div class="scrollbar-wrapper">
      <ng-scrollbar>
        <div class="images-wrapper selection-area-container">
          <app-image-control *ngFor="let photo of (photos$ | async)" class="selection-item"
                             [selected]="currentPhoto === photo" [download]="isSelected(photo)"
                             (click)="setCurrent(photo)" [photo]="photo"
                             [hasRights]="isAuthenticated"
                             (deleteEvent)="onSelectForDelete($event)"
                             (previewEvent)="onSelectForPreview($event)"
                             (downloadEvent)="onSelectForDownload($event)"></app-image-control>
        </div>
      </ng-scrollbar>
    </div>
  </div>

  <app-gallery-meta-panel class="component gallery-explorer-grid-meta"
                          [selectedPhotosCount]="selection.length"
                          [filteredPhotosCount]="photos.length"
                          [allPhotosCount]="allPhotosCount"></app-gallery-meta-panel>

  <app-gallery-image-detail class="component gallery-explorer-grid-details"
                            [currentPhoto]="currentPhoto"></app-gallery-image-detail>
</div>
