<div class="image-container" [class.active]="selected">
  <div class="image-wrapper">
    <img alt="thumbnail" draggable="false" appImgFallback
         [src]="getThumbUrl(photo.fileName)" loading="lazy">
  </div>
  <div class="info-container" [class.lock]="!photo.isPrivate">
    <div class="bg">
      <mat-icon fontIcon="lock"></mat-icon>
    </div>
  </div>
  <div class="column">
    <button mat-icon-button (click)="onClickPreview()">
      <mat-icon>visibility</mat-icon>
    </button>
    <button mat-icon-button (click)="onClickGroupEdit($event)" [class.active]="edit">
      <mat-icon>check_circle</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!hasRights" (click)="onClickEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button [disabled]="!hasRights" (click)="onClickDelete($event)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
