@use '@angular/material' as mat;
@import 'styles/containers.scss';
//@import 'styles/roboto.scss';
@import 'styles/material-icons.scss';
@import 'styles/themes';
@import 'styles/padding';
@import 'styles/scrollbar';
@import 'styles/flex-layout';
@import 'styles/position';
@import 'styles/layout';
@import 'styles/z-index';
@import 'styles/material-fixes';
// site builder
@import 'app/library/assets/scss/index';


//@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:wght@100;200&display=swap');

@include mat.core();

html, body {
  height: 100%;
  background-color: #303030;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 300;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }
}

* {
  &:active,
  :focus {
    //opacity: 0;
    background: initial;
    outline: none !important;
  }

  &.mdc-button__label {
    font-weight: 500;
    font-size: 16px;
  }

  & th {
    font-weight: 500;
  }
}

.viewport {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.spacer {
  flex: 1 1 auto;
}

.m5 {
  margin: 5px;
}

.m8 {
  margin: 8px;
}

.m8tl {
  margin: 8px 0 0 8px;
}

.m10 {
  margin: 10px;
}

.m10t {
  margin-top: 10px;
}

.m10l {
  margin-left: 10px;
}

.m10r {
  margin-right: 10px;
}

.component {
  margin: 10px;
}

.card-size-m {
  max-width: 400px;
}

.card-size-l {
  max-width: 600px;
}

.container {
  width: 100%;
  padding: 12px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1264px) {
  .container {
    max-width: 1185px;
  }
}

@media (min-width: 960px) {
  .container {
    max-width: 900px;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.full-width-height {
  width: 100%;
  height: 100%;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  //-webkit-box-shadow: 0 0 0 1000px #000 inset;
  transition: background-color 10000s;
}

.mat-loading .mat-button-wrapper {
  visibility: hidden;
}

.mat-loading .mat-progress-spinner {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
}

.a-nav {
  color: white;
  text-decoration: none;
}

.mail {
  text-decoration: none;

  &:link {
    color: var(--primary-color);
  }

  &:visited {
    color: #095484;
  }

  &:hover {
    color: #8ebf42;
  }

  &:active {
    color: #800000;
  }

}
