<h1 mat-dialog-title>Edit photo(s)</h1>
<mat-dialog-content>

  <!--  <mat-chip-listbox>-->
  <!--    <mat-chip-option *ngFor="let tag of this.formControl.value" color="accent" selected>-->
  <!--      {{ tag.name }}-->
  <!--    </mat-chip-option>-->
  <!--  </mat-chip-listbox>-->

  <div class="row">
    <div class="col-6">
      <mat-label>Tags</mat-label>
      <!--        <mat-select [formControl]="formControl" [compareWith]="compareTags" multiple-->
      <!--                    (valueChange)="onSelectionChange($event)">-->
      <!--          <mat-optgroup *ngFor="let group of tagGroups" [label]="group.name">-->
      <!--            <mat-option *ngFor="let tag of group.tags" [value]="tag">-->
      <!--              {{tag.name}}-->
      <!--            </mat-option>-->
      <!--          </mat-optgroup>-->
      <!--        </mat-select>-->

      <section class="example-section">
          <span *ngFor="let checkList of checkLists; let i=index" class="example-list-section">
              {{checkList.title}}
            <span class="example-list-section">
              <ul>
                <li *ngFor="let item of checkList.items">
                  <mat-checkbox [(ngModel)]="item.checked" (ngModelChange)="onSelectionChange(item)"
                                [(indeterminate)]="item.indeterminate">
                    {{item.tag.name}}
                  </mat-checkbox>
                </li>
              </ul>
            </span>
          </span>
      </section>
    </div>
    <div class="col-2">
      <mat-checkbox [(indeterminate)]="indeterminatePrivate" [(ngModel)]="private" (ngModelChange)="onAccessChange()">
        privat
      </mat-checkbox>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button (click)="onSave()" type="submit" class="mat-primary" [disabled]="!changed">Ok
  </button>
</mat-dialog-actions>
