<mat-card class="pizza-card component">
  <mat-card-header>
    <mat-card-title>Pizza Teig</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="flexbox-panel">
      <mat-button-toggle-group value="4" [formControl]="countControl"
                               class="m8-l-r" (change)="updateFields()">
        <mat-button-toggle value="1">&nbsp;1&nbsp;</mat-button-toggle>
        <mat-button-toggle value="2">&nbsp;2&nbsp;</mat-button-toggle>
        <mat-button-toggle value="3">&nbsp;3&nbsp;</mat-button-toggle>
        <mat-button-toggle value="4">&nbsp;4&nbsp;</mat-button-toggle>
        <mat-button-toggle value="5">&nbsp;5&nbsp;</mat-button-toggle>
        <mat-button-toggle value="6">&nbsp;6&nbsp;</mat-button-toggle>
        <mat-button-toggle value="7">&nbsp;7&nbsp;</mat-button-toggle>
        <mat-button-toggle value="8">&nbsp;8&nbsp;</mat-button-toggle>
        <mat-button-toggle value="9">&nbsp;9&nbsp;</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <!--    <div class="example-label-container">-->
    <!--      <label>{{value}}g</label>-->
    <!--    </div>-->
    <!--    <mat-slider max="300" min="250" step="10" showTickMarks>-->
    <!--      <input matSliderThumb [(ngModel)]="value">-->
    <!--    </mat-slider>-->
    <!--      <mat-divider inset></mat-divider>-->
    <div class="row-max-width">
      <div class="col-6">
        <div class="subtitle">Poolish</div>
        <mat-list>
          <mat-list-item *ngFor="let ingredient of poolish">
            <div class="row-max-width">
              <div class="col-6">
                {{ ingredient.name }}:
              </div>
              <div class="col-6">
                {{ingredient.value}}
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <div class="col-6">
        <div class="subtitle">Hauptteig</div>
        <mat-list>
          <mat-list-item *ngFor="let ingredient of dough">
            <div class="row-max-width">
              <div class="col-6">
                {{ ingredient.name }}:
              </div>
              <div class="col-6">
                {{ingredient.value}}
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>

