<mat-dialog-content>
  <h2>Bearbeitung der Fotos</h2>
  <p>Neben der "Sterne" Bewertung, ist aktuell einzig das Ändern der Tags möglich. </p>

  <h3>Ändern der Tags eines einzelnen Bildes</h3>
  <ul>
    <li><p>Ein Klick auf den Stift-Button öffnet das Fenster zum Ändern der Tags</p></li>
    <li><p>Füge hinzu, entferne und speichere mittels OK Button</p></li>
  </ul>

  <h3>Ändern der Tags mehrerer Bilder</h3>
  <h4>Variante "einzelne Fotos auswählen"</h4>
  <ul>
    <li><p>Benutze die Filter um die Auswahl einzuschränken</p></li>
    <li><p>Klicke auf jeden Häkchen-Button derer Fotos, dessen Tags geändert werden sollen</p></li>
    <li><p>Benutze "Photos bearbeiten" aus dem Seitenmenü</p></li>
    <li><p>Füge hinzu, entferne und speichere mittels OK Button</p></li>
  </ul>
  <h4>Variante "mehrere Fotos auswählen"</h4>
  <ul>
    <li><p>Benutze die Filter um die Auswahl einzuschränken</p></li>
    <li><p>Benutze "Alle auswählen" aus dem Seitenmenü</p></li>
    <li><p>Deselektiere ggf. ungewünschte Fotos</p></li>
    <li><p>Oder selektiere ungewünschte Fotos und benutze dann "Auswahl umschalten aus dem Seitenmenü"</p></li>
    <li><p>Benutze "Fotos bearbeiten" aus dem Seitenmenü</p></li>
    <li><p>Das Fenster zum Ändern der Tags öffnet sich</p></li>
  </ul>

</mat-dialog-content>
<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button mat-dialog-close>Abbrechen</button>
  <button mat-raised-button type="submit" class="mat-primary"
          (click)="onSave()">Ok
  </button>
</mat-dialog-actions>
