<mat-grid-list [cols]="colsAvailable" rowHeight="fit" gutterSize="6px">
  <mat-grid-tile
    *ngFor="let image of (selection | async); let i = index"
    [colspan]="cols" [rowspan]="rows">
    <div class="image-container">
      <img alt="thumbnail" appImgFallback [src]="getPhotoUrl(image.fileName)">
      <div class="action-container">
        <button mat-mini-fab (click)="onClickClose(image)">
          <mat-icon>visibility_off</mat-icon>
        </button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
