<ng-scrollbar track="vertical">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let group of tagGroups; let i = index"
                         [expanded]="step === i" (opened)="setStep(i)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ group.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-selection-list>
        <mat-list-option *ngFor="let tag of group.tags" [selected]="activeTags.includes(tag)"
                         [value]="tag" (click)="onSelectionChange(tag)">
          {{tag.name}}
        </mat-list-option>
      </mat-selection-list>
    </mat-expansion-panel>
  </mat-accordion>
</ng-scrollbar>
