<h1 mat-dialog-title>Manage Tags</h1>
<mat-dialog-content style="overflow: hidden;">
  <div class="row">
    <div class="col-s-3">
      <div style="width: auto; height: 300px;">
        <ng-scrollbar class="dark-scrollbar" [autoWidthDisabled]="false"
                      track="vertical" visibility="always">
          <mat-selection-list appNoPaddingTop multiple="false">
            <mat-list-option *ngFor="let tag of categories$ | async; let i = index"
                             [selected]="currentCategory.id === tag.id"
                             [value]="tag" (click)="onSelectCategory(tag)">
              {{tag.name}}
            </mat-list-option>
          </mat-selection-list>
        </ng-scrollbar>
      </div>
      <button mat-raised-button color="primary" [disabled]="dirtyState" (click)="onNewTag()">New</button>
    </div>
    <!--    <mat-divider [vertical]="true"></mat-divider>-->
    <div class="col-s-9">
      <app-gallery-edit-tag-detail class="full-width chips-container"
                                   (tagChangesEvent)="onEntriesChanged($event)"
                                   (deleteEvent)="onDeleteCategory($event)"
                                   [category]="currentCategory">
      </app-gallery-edit-tag-detail>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-raised-button class="mat-primary"
          [disabled]="!hasChanges" (click)="apply()">Apply
  </button>
  <button mat-raised-button (click)="close()">Cancel</button>
  <button mat-raised-button color="primary" (click)="save()">Ok</button>
</mat-dialog-actions>
